<div class="row mt-4">
  <div class="col-6 m-auto">
    <div class="card">
      <div class="card-header">
        <h3 class="text-center">Simulation de votre crédit</h3>
      </div>
      <div class="card-body d-flex flex-column justify-content-center">
        <input class="form-control my-1" type="text" name="historique" placeholder="Historique" required />
        <input class="form-control my-1" type="text" name="marier" placeholder="Marier" required />
        <input class="form-control my-1" type="text" name="revenu" placeholder="Revenu" required />
        <button class="btn btn-primary w-25 m-auto mt-4">Predict</button>
      </div>
    </div>
  </div>
</div>
